body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 60px;
  padding: 20px;
}

button {
  padding: 15px 30px;
  margin: 10px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#connectBtn {
  background: #32cd32;
  color: white;
}

#gmBtn {
  background: #0f9d58;
  color: white;
}
